body{
    background-color:  hsl(0, 0%, 98%);
    font-family: Poppins;
    padding-bottom: 50px;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}
.heading-first,
.heading-subtext,
p{
    font-weight: 200;
    color: hsl(229, 6%, 66%);
    margin-top: 0px;
}
.heading-second{
    font-weight: bolder;
    color: hsl(234, 12%, 34%);
}

.title{
    font-weight: 600;
}

section{
    display: flex;
    margin-bottom: 100px;
}

@media screen and (max-width:1920px){
    h1, p.heading-subtext{
        width: 500px;
        text-align: center;
    }
    div{
        background-color: white;
        border-radius: 5px;
        border:none;
        width: 350px;
        height: 250px;
        padding: 10px 15px 10px 30px;
        box-shadow: 0px 0px 20px 0px hsl(229, 6%, 66%);
    }
    .supervisor{
        background-image: url("images/icon-supervisor.svg");
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: 90%;
        border-top: 5px solid aqua;
        position: relative;
        top: 170px;
        right: -320px;
    }
    .team-builder{
        background-image: url("images/icon-team-builder.svg");
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: 90%;
        border-top: 5px solid red;
        position: relative;
        left: 360px;
    }
    .karma{
        background-image: url("images/icon-karma.svg");
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: 90%;
        border-top: 5px solid orange;
        position: relative;
        top: 300px;
        left: -35px;
    }
    .calculator{
        background-image: url("images/icon-calculator.svg");
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: 90%;
        border-top: 5px solid blue;
        position: relative;
        top: 170px;
        right: 0px;
    }
}
@media screen and (max-width:1440px) {
    h1, p.heading-subtext{
        width: 500px;
        text-align: center;
    }
    div{
        background-color: white;
        border-radius: 5px;
        border:none;
        width: 350px;
        height: 250px;
        padding: 10px 15px 10px 30px;
        box-shadow: 0px 0px 20px 0px hsl(229, 6%, 66%);
    }
    .supervisor{
        background-image: url("images/icon-supervisor.svg");
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: 90%;
        border-top: 5px solid aqua;
        position: relative;
        top: 180px;
        left: 160px;
    }
    .team-builder{
        background-image: url("images/icon-team-builder.svg");
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: 90%;
        border-top: 5px solid red;
        position: relative;
        left: 180px;
    }
    .karma{
        background-image: url("images/icon-karma.svg");
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: 90%;
        border-top: 5px solid orange;
        position: relative;
        top: 300px;
        left: -175px;
    }
    .calculator{
        background-image: url("images/icon-calculator.svg");
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: 90%;
        border-top: 5px solid blue;
        position:relative;
        top: 180px;
        right: 155px;
    }   
}