body{
    background-color:  hsl(0, 0%, 98%);
    font-family: Poppins;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}
h1, p.heading-subtext{
    max-width: 540px;
    text-align: center;
}
.heading-first,
.heading-subtext,
p{
    font-weight: 200;
    color: hsl(229, 6%, 66%);
    margin-top: 0px;
}
.heading-second{
    font-weight: bolder;
    color: hsl(234, 12%, 34%);
}

.title{
    font-weight: 600;
}

section{
    display: flex;
}

div{
    background-color: white;
    border-radius: 5px;
    border:none;
    width: 350px;
    height: 250px;
    padding: 10px 15px 10px 30px;
    box-shadow: 0px 0px 20px 0px hsl(229, 6%, 66%);
}

.supervisor{
    background-image: url("images/icon-supervisor.svg");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 90%;
    border-top: 5px solid aqua;
    position: absolute;
    top: 48%;
    left: 17.5%;
}
.team-builder{
    background-image: url("images/icon-team-builder.svg");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 90%;
    border-top: 5px solid red;
    position: absolute;
    top: 30.5%;
    left: 40%;
}
.karma{
    background-image: url("images/icon-karma.svg");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 90%;
    border-top: 5px solid orange;
    position: absolute;
    top: 63.5%;
    left: 40%;
}
.calculator{
    background-image: url("images/icon-calculator.svg");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 90%;
    border-top: 5px solid blue;
    position: absolute;
    top: 48%;
    right: 17%;
}
